{% extends 'base.html' %}


{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, vero laudantium, optio dolorum necessitatibus ipsum itaque eaque laboriosam dignissimos vel earum debitis nobis dicta, deserunt autem. Ab nam ducimus earum sed quis, hic dignissimos vitae debitis temporibus perferendis atque accusantium consequuntur explicabo! Porro corrupti voluptatem veritatis vitae eos dolorum hic cum alias placeat, rerum error ratione velit laboriosam magnam maxime voluptatibus iste reprehenderit sapiente corporis adipisci, cupiditate necessitatibus laudantium possimus explicabo. Reiciendis, explicabo accusantium! Earum distinctio id reprehenderit quis, in necessitatibus, consectetur commodi ipsum quia quidem, optio corporis non illum. Qui harum molestias accusantium iusto, cupiditate eum ratione debitis voluptatem.
        </p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>

    </section>
</main>
{% endblock content %}
    
